/*************************
* HEADER
*
*************************/

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 500;
    overflow: visible;
    border-bottom: 1px solid #4848f0;
    background-color: #4848f0;
    padding: 20px;
    margin: 0 auto;
}

.header .wr {
    display: flex;
    justify-content: space-between;
}


.header__logo {
    font-size: 28px;
    font-family: 'kollektifbold_italic';
    color: #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.subheader {
    font-family: 'kollektifbold';
    color: #fff;
    letter-spacing: 1.4px;
}

.header--fixed + * {
     padding-top: 104px;
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 750px) {
  .header__logo {
        font-size: 18px;
  }
  .subheader {
        font-size: 10px;
  }
}

/*************************
*
* Main Menu
*
*************************/
.header__nav .menu ul {
    list-style: none;
    padding-left: 0;
}

.header__nav .menu ul li {
  display: inline-block;
  margin-left: 30px;
}

/* TEMP FIX - KAN HET NIET VERKLAREN WAAROM DIE NIET WEGGAAN */
.header__nav li.page-item-2,
.header__nav li.page-item-76 {
    display: none !important;
}

.header__nav .menu ul li a {
    font-family: 'kollektifbold';
    color: #fff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

/*************************
*
* CONTENT EDITING HULPMIDDELEN
*
*************************/

.lowlight {
    font-size: 10px !important;
    font-family: 'kollektifbold';
    text-transform: uppercase;
    letter-spacing: 1.4px;
    background-color: #4848f0;
    color: #fff;
    border-radius: 4px;
    width: 200px;
    text-align: center;
}

/* Dit werkt als een arcering */
p.highlight {
    font-family: 'kollektifbold_italic';
    padding-left: 20px;
    border-radius: 4px;
    border: 4px solid #4848f0;
    padding: 20px;
    color: #4848f0;
}
