.header {
    position: fixed;
    background-color: #fff;
    left: 0;
    top: 0;
    right: 0;
    z-index: 500;
    overflow: visible;
    border-bottom: 1px solid #4848f0;
    background-color: #4848f0;
    padding: 20px 0;
}

.header .wr {
    display: flex;
    justify-content: space-between;
}


.header__logo {
    font-size: 28px;
    font-family: 'kollektifbold_italic';
    color: #fff;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.subheader {
    font-family: 'kollektifbold';
    color: #fff;
    letter-spacing: 1.4px;
}